<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        {{form.valid}}
        {{form.value | json}}
        <form #form="ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <app-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
                <input class="form-control" name="address" ngModel required minlength="5" placeholder="Endereço" autocomplete="off">
              </app-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <app-input-container errorMessage="Obrigatório e somente números" label="Número">
                <input type="text" class="form-control" name="number" pattern="^[0-9]*$" required ngModel placeholder="Número" autocomplete="off">
              </app-input-container>
              <!--INPUT COMENTADO ANTES DE LA IMPLEMANTACION DEL COMPONENTE SHARED/INPUT-->
              <!--<div class="form-group" [class.has-success]="iptNumber.valid && (iptNumber.dirty || iptNumber.touched)"
                                      [class.has-error]="!iptNumber.valid && (iptNumber.dirty || iptNumber.touched)">
                <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Número</label>
                <input type="text" class="form-control" name="number" required #iptNumber="ngModel" ngModel placeholder="Número" autocomplete="off">
                <span class="help-block" *ngIf="iptNumber.valid && (iptNumber.dirty || iptNumber.touched)"><i class="fa fa-check"></i> Ok</span>
                <span class="help-block" *ngIf="!iptNumber.valid && (iptNumber.dirty || iptNumber.touched)"><i class="fa fa-remove"></i> Campo obrigatório</span>
              </div>-->
            </div>
            <div class="col-sm-3 col-xs-6">
              <app-input-container  label="Complemento">
                <input type="text" class="form-control" name="optional" ngModel placeholder="Complemento">
              </app-input-container>

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <app-order-items [items]="cartItems()"
            (increaseQty)="increaseQty($event)"
            (decreaseQty)="decreaseQty($event)"
            (remove)="remove($event)"></app-order-items>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                   <app-radio [options]="paymentOptions" name="paymentOption" ngModel></app-radio>

                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <div class="table-responsive">
                <table class="table">
                  <tbody><tr>
                    <th style="width:50%">Itens:</th>
                    <td class="text-right">R$ 20,00</td>
                  </tr>
                  <tr>
                    <th>Frete:</th>
                    <td class="text-right">R$ 8,00</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td class="text-right">R$ 28,00</td>
                  </tr>
                </tbody></table>
              </div>
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success pull-right" [disabled]="!form.valid"><i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->
